<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ffb2bc" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>${title}</title>
    <link rel="stylesheet" href="/base.css" />
    <script src="/main.js" defer></script>
  </head>
  <body class="anim-slide-in">
    <header>
			<div class="tabs" style="--hover-index: ${activeTabIndex}">
        <div class="tab tab--visual"></div>
				<div class="tab" ${activeTabIndex === 0 ? 'aria-current="page"': ""}><a href="/">Home</a></div>
        <div class="tab" ${activeTabIndex === 1 ? 'aria-current="page"': ""}><a href="/feeds">Feeds</a></div>
        <div class="tab" ${activeTabIndex === 2 ? 'aria-current="page"': ""}><a href="/info">Info</a></div>
      </div>
    </header>
		${partial}
  </body>
</html>
